<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
      <header>
          <h1><%= title %></h1>
          <h2>hello from ejs</h2>
      </header>
      <nav>
          <a href="index.html">Home</a>
          <a href="services.html">Books</a>
          <a href="contact.html">Authors</a>
          <a href="about.html">Genre</a>            
      </nav> 
      <main>
          <article>
              <h1>
              </h1>
              <ul>
                 
              </ul>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatibus suscipit quam ex? Accusamus amet quidem soluta dignissimos, ipsum unde expedita eligendi quod tenetur aspernatur officiis, voluptatum at quis perspiciatis!</p>
              <section>
                  <h2>Lorem ipsum dolor sit  </h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores libero dignissimos a vitae, molestias sunt exercitationem cupiditate, odit enim laudantium qui quidem officiis accusamus veritatis repellendus. Odio at laborum animi!</p>
              </section>
              <section>
                  <h2>Lorem corporis eveniet doloremque?</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex voluptatem, soluta optio fugiat assumenda, porro dolore sit accusantium dolores eos aspernatur minima. Quia debitis soluta accusantium, dolorum ipsum minus odit!</p>
              </section>
              <section>
                  <h2>Lorem Code</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, cum sunt corrupti esse porro placeat quo quas quisquam nesciunt fugiat quaerat rerum eveniet officia explicabo repudiandae sit voluptate quibusdam doloremque!</p>
              </section>        
          </article>
          <footer>
              Footer information, links, etc.
          </footer>
      </main>
    


     </body>
</html>
