*,
*:before,
*:after {
   box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%; 
  background: url(/images/loc-card-catalog.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: linear-gradient(black, white);*/
}
body {
  padding: 0 50px 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}
#about {
  padding-top: 48px;
}
/*  form css */

form {
  display: inline-block;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 300px;
  /*display: block;
  margin: auto;
  background-color:white;
  width:400px;
  height:420px;
  text-align: center;*/
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}
/* end form css */

/* ----------bookListView ------------------------*/

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
/* The navbar container */
.menu {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}
/* ------flexbox-------*/

.container {
  /*border: 2px solid white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  */
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
.container > div:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
section .card-image {
  border: 2px solid black;
}
section div {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
}
section a {
  color: white;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}
.footer {
  background-color: #F1F1F1;
  padding: 20px;
}