<!DOCTYPE html>
<html>
	<head>
		<title>Scott Fontenot | My Book Collection</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<!-- Custom Font -->
		<link href="../stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav>
			    <h1><a href="/"><%= title %></a></h1>
                <ul><% for(var i=0; i<nav.length;i++){%>
                    <li><a href="<%=nav[i].Link%>"><%= nav[i].Text %></a></li>
                            <%}%>
                </ul>
            </nav>
		</header>
        <main>
            <section class="form">
                <form name="signInForm" action="/auth/signIn" method="post">
                    <fieldset class="account-info"><legend>Sign In</legend>
                        <label>
                            Username
                        <input input type="text" name="userName" id="userName">
                        </label>
                        <label>
                            Password
                        <input type="text" name="password" id="password">
                        </label>
                    </fieldset>
                    <fieldset class="account-action">
                        <input class="btn" type="submit" value="Login">
                    </fieldset>
                </form>
                <form name="signUpForm" action="/auth/signUp" method="post">
                    <fieldset class="account-info"><legend>Sign Up</legend>
                        <label>
                            Username
                        <input input type="text" name="userName" id="userName">
                        </label>
                        <label>
                            Password
                        <input type="text" name="password" id="password">
                        </label>
                    </fieldset>
                    <fieldset class="account-action">
                        <input class="btn" type="submit" value="Sign Up">
                    </fieldset>    
                </form>        
            </section>
        </main>	    
           
		<footer>
			<p>Created by Scott Fontenot</p> 
			<div class="footer-images">
                <p>place holder for links</p>
				<img src="" alt=""> 
				<img src="" alt=""> 
				<img src="" alt=""> 
			</div>
		</footer>
	</body>
</html>