<!-- views/partials/3columns.ejs -->
<section name=”content”>
 <div class=”container”>
 <h2 class=”text-center”>Sample Data</h2>
 <div class=”col-xs-12 col-md-4">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem.</p>
 </div>
 <div class=”col-xs-12 col-md-4">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem.</p>
 </div>
 <div class=”col-xs-12 col-md-4">
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem.</p>
 </div>
 </div>
</section>